body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  background: #d3edf1;
}

.maincontainer {
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 44px;
}

.header .companionsContainer {
  flex-grow: 1;
  margin: 0 20px;
}

.header .companionsContainer input {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .header input {
    font-size: 24px;
    height: 40px;
  }
  .header input[type="date"] {
    width: 110px;
  }
}

img.map {
  width: 500px;
  height: 750px;
}

button.pastclimbs {
  position: fixed;
  left: 358px;
  bottom: 10px;
  z-index: 10;
  border: 5px solid #52c7d3;
  border-radius: 10px;
  padding: 10px;
  background: white;
  font-weight: bold;
  font-size: 20px;
  color: #0096a6;
}

.number {
  position: absolute;
  z-index: 10;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px;
  background: white;
  cursor: pointer;
}

.number:active {
  background: #ccc;
}

.dialog {
  position: fixed;
  max-width: 500px;
  padding: 20px;
  top: 40px;
  left: 40px;
  right: 40px;
  z-index: 20;
  background: #99d9e0;
  border-radius: 20px;
  border: 5px solid #c1c1c1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

.climbs .dialog {
  bottom: 40px;
  overflow: auto;
  background-color: #effdff;
}

.climbs h3 {
  text-align: start;
}

.climbs .title {
  font-weight: bold;
}

.dialog, input {
  font-size: 24px;
}

input.notes {
  flex-grow: 1;
}

.log.hidden, .climbs.hidden {
  display: none;
}

h2, h3 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

.row, .labeledInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}

.labeledInput input {
  flex-shrink: 1;
  width: 120px;
}

.row {
  margin: 20px 0;
}

.daterow {
  display: flex;
  justify-content: center;
}

.row input[type="text"] {
  margin-left: 10px;
}

.row input[type="text"].difficulty {
  width: 60px;
  margin-left: 2px;
  text-align: center;
}

.row input[type="submit"] {
  background: white;
  padding: 7px 15px;
  border-radius: 7px;
  cursor: pointer;
}

.row input[type="submit"]:active {
  background: #ccc;
}

.row input {
  padding: 5px;
  border-color: #0096a6;
  border-style: solid;
  border-radius: 5px;
}

/* Colors */

.yellow {
  color: #cbc700;
  border-color: #cbc700;
}

.green {
  color: #018301;
  border-color: #018301;
}

.red {
  color: #c60000;
  border-color: #c60000;
}

.blue {
  color: #1a52ee;
  border-color: #1a52ee;
}

.white {
  color: #cfcfcf;
  border-color: #cfcfcf;
}

.orange {
  color: #ec9e00;
  border-color: #ec9e00;
}

.pink {
  color: #ea0d98;
  border-color: #ea0d98;
}

.purple {
  color: #7501bd;
  border-color: #7501bd;
}


/* Number positioning */
.eighteen {
  top: 787px;
  left: 350px;
}

.nineteen {
  top: 779px;
  left: 318px;
}

.twenty {
  top: 750px;
  left: 300px;
}

.twentyeight {
  top: 595px;
  left: 337px;
}

.twentynine {
  top: 593px;
  left: 368px;
}

.thirty {
  top: 559px;
  left: 404px;
}

.thirtyone {
  top: 523px;
  left: 430px;
}

.thirtyfive {
  top: 283px;
  left: 297px;
}

.thirtysix {
  top: 251px;
  left: 297px;
}

.thirtyseven {
  top: 219px;
  left: 300px;
}

.thirtyeight {
  top: 189px;
  left: 290px;
}

.thirtynine {
  top: 156px;
  left: 279px;
}

.forty {
  top: 112px;
  left: 310px;
}

.fortyone {
  top: 112px;
  left: 345px;
}

.fortytwo {
  top: 150px;
  left: 370px;
}

.fortythree {
  top: 184px;
  left: 376px;
}

.fortyfour {
  top: 218px;
  left: 381px;
}

.fortyseven {
  top: 87px;
  left: 47px;
}

.fortyeight {
  top: 127px;
  left: 45px;
}

.fortynine {
  top: 165px;
  left: 55px;
}

.fifty {
  top: 200px;
  left: 70px;
}

.fiftyone {
  top: 234px;
  left: 90px;
}

.fiftytwo {
  top: 261px;
  left: 114px;
}

.fiftythree {
  top: 282px;
  left: 145px;
}

.fiftyfour {
  top: 314px;
  left: 164px;
}

.fiftyfive {
  top: 350px;
  left: 164px;
}

.sixtyfive {
  top: 550px;
  left: 13px;
}

.sixtysix {
  top: 590px;
  left: 13px;
}

.sixtyseven {
  top: 631px;
  left: 17px;
}

.sixtyeight {
  top: 670px;
  left: 21px;
}

.sixtynine {
  top: 710px;
  left: 29px;
}

.seventy {
  top: 750px;
  left: 33px;
}
